<div class="col-xs-6 col-xs-offset-3">
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">First Name</span>
		<input type="text" class="form-control" aria-describedby="sizing-addon2" ng-model="newAddress.firstName">
	</div>
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">Last Name</span>
		<input type="text" class="form-control" aria-describedby="sizing-addon2" ng-model="newAddress.lastName">
	</div>
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">Full Address</span>
		<input type="text" class="form-control" aria-describedby="sizing-addon2" ng-model="newAddress.address">
	</div>
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">Cell Phone #</span>
		<input type="text" class="form-control" aria-describedby="sizing-addon2" ng-model="newAddress.cellPhone">
	</div>
	<div class="input-group">
		<span class="input-group-addon" id="sizing-addon2">Email</span>
		<input type="text" class="form-control" aria-describedby="sizing-addon2" ng-model="newAddress.email">
	</div>
	<button class="btn btn-default" ng-click="saveNewAddress()">Submit</button>
</div>